@use "libs/bootstrap-reboot.min";
@use "libs/animate.min";
@use "libs/fonts";
@use "base/variables";
@use "blocks/titles";
@use "blocks/buttons";
@use "blocks/promo";
@use "blocks/header";

* {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.container {
	width: 1140px;
	margin: 0 auto;
}