@use "../base/variables";

.prices {
	min-height: 952px;
	padding: 53px 0 80px 0;
	&__subtitle {
		max-width: 690px;
		margin: 17px auto 0 auto;
	}
	&__wrapper {
		margin-top: 32px;
		display: grid;
		grid-template: 355px / repeat(4, 265px);
		justify-content: space-between;
		align-items: flex-start;
	}
	&__item {
		border: solid 1px #dbdbdb;
		height: 100%;
		width: 100%;
		&-header {
			font-size: 16px;
			line-height: 16px;
			color: white;
			background-color: #293841;
			text-align: center;
			padding-top: 24px;
			padding-bottom: 22px;
			text-transform: uppercase;
		}
		&-body {
			padding: 14px 25px 25px 25px;
		}
		&-image {
			display: block;
			margin: 0 auto;
			max-width: 60px;
		}
		&-delivery {
			margin-top: 12px;
		}
		&-text,
		&-price {
			display: block;
			text-align: center;
		}
		&-text {
			text-transform: uppercase;
			font-weight: 300;
			font-size: 14px;
			line-height: 14px;
		}
		&-price {
			font-weight: 500;
			line-height: 1.07;
			font-size: 28px;
			line-height: 28px;
			color: variables.$main-color;
			margin-top: 4px;
		}
		&-descr {
			margin-top: 19px;
			text-align: center;
			font-size: 14px;
			font-weight: 300;
			line-height: 1.4;
		}
	}
	&__button {
		display: block;
		margin: 25px auto 0 auto;
	}
	&__text-consultation {
		font-size: 28px;
		font-weight: 500;
		line-height: 0.82;
		text-align: center;
		color: #3a3a3a;
		margin-top: 56px;
	}
	&__form {
		position: relative;
		border: 1px solid #dbdbdb;
		display: flex;
		min-height: 166px;
		margin-top: 71px;
		align-items: center;
		justify-content: center;
		&-button,
		&-imagebox {
			position: absolute;
		}
		&-button {
			top: calc(100% - 23px);
			left: 50%;
			transform: translateX(-50%);
		}
		&-imagebox {
			width: 102px;
			height: 102px;
			top: calc(0% - 51px);
			left: 50%;
			transform: translateX(-50%);
			background-color: #fff;
			border: 1px solid variables.$main-color;
			border-radius: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-input {
			width: 268px;
			height: 45px;
			margin: 0 3px 0 3px;
			input {
				padding:0 28px 0 28px;
				width: 100%;
				height: 100%;
				border-radius: 20px;
				border: solid 1px rgba(0, 0, 0, 0.21);
				&::placeholder {
					font-size: 13px;
					font-weight: 300;
					text-align: left;
					color: rgba(16, 16, 16, 0.7);
				}
			}
		}
	}
}
